<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="the saber index page">
    <meta name="keywords" content="">
    <meta name="author" content="liguitong">
    <title>Saber</title>
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,400italic" rel="stylesheet">
    <link href="{% static "css/saber/saber.css" %}">
    <link href="{% static "css/toolkit-inverse.css" %}">
</head>
<body class="" style="">
    <div class="bw">
        <div class="dh">
            <div class="en bpz">
                <nav class="bqg">

                </nav>
            </div>
        </div>
    </div>
</body>
</html>